.cabecera{
		font-weight:800
}

.ext-links
{
	position: fixed;
    top: 8.5em;
    right: 1.5em;
	width:46px;
	background-color:transparent;

}

.rpt-tit{
	
	color:black;
	font-size: 20px;
	font-family: 'Courier New', Courier, monospace;
}

.rpt-act{
	font-weight: 800;
	color:black;
	font-size: 14px;
	font-family: 'Courier New', Courier, monospace;
}

.marcar{
	background-color: #b9f6ca;
	border-radius: 5px;
	margin-top:15px;

}

.nuevo-td{
	/*background-color: aqua;*/
	font-weight: black;
}

.nuevo{
	background-color: yellow;
}

.marcar_mini{
	background-color: #eee;
	border-radius: 5px;
	margin-top:15px;

}

.no-marcar{
	background-color: #ef9a9a ;
	border-radius: 5px;
	margin-top:15px;
}

.titulo{
	font-size:20px;
}
